/* CSS HEX */
:root {
	--purple-heart-50: #f3f1ff;
	--purple-heart-100: #ebe5ff;
	--purple-heart-200: #d9ceff;
	--purple-heart-300: #bea6ff;
	--purple-heart-400: #9f75ff;
	--purple-heart-500: #843dff;
	--purple-heart-600: #7916ff;
	--purple-heart-700: #6b04fd;
	--purple-heart-800: #5a03d5;
	--purple-heart-900: #4b05ad;
	--purple-heart-950: #2c0076;

	font-family: Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	background-color: var(--purple-heart-100);
	justify-content: center;
	align-items: center;
}

header {
	background-color: var(--purple-heart-400);
	height: 10dvh;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}


nav {
	margin-top: 0.5em;
}

nav > a {
	text-decoration: none;
	background-color: var(--purple-heart-600);
	color: white;
	padding: 0.25em;
	border-radius: 0.5em;
}

nav > a:hover {
	background-color: var(--purple-heart-950);
}


footer {
	background-color: var(--purple-heart-400);
	height: 5dvh;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	min-height: 85dvh;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


main > * {
	margin: 0.5em;
}

main > img {
	height: 20dvh;
	width: 50dvw;
	background-color: var(--purple-heart-950);
	color: var(--purple-heart-100);
	object-fit:cover;
}

main > p {
	font-size: small;
}


main > h1 {
	text-align: center;
}

/* 
header, footer {
	background-color: var(--purple-heart-400);
}  
*/

/* 
nav {
	margin-top: 20em;
} 
*/