/* CSS HEX */
:root {
	--purple-heart-50: #f3f1ff;
	--purple-heart-100: #ebe5ff;
	--purple-heart-200: #d9ceff;
	--purple-heart-300: #bea6ff;
	--purple-heart-400: #9f75ff;
	--purple-heart-500: #843dff;
	--purple-heart-600: #7916ff;
	--purple-heart-700: #6b04fd;
	--purple-heart-800: #5a03d5;
	--purple-heart-900: #4b05ad;
	--purple-heart-950: #2c0076;
}

